@page "/courses"
@attribute [StreamRendering]



<AuthorizeView>
    <NotAuthorized>
        <div class="container">
            <h3>Sign in to view the courses</h3>
        </div>
    </NotAuthorized>
    <Authorized>

<PageTitle>Courses</PageTitle>

<section id="courses">
    <div class="container">
        <div class="content">
            <h1>Courses</h1>
            <div class="courses-list">

                @if (selectedCourseId == null)
                {
                    <CourseList OnCourseSelected="HandleCourseSelected" />
                }
                else
                {
                    <SingleCourse CourseId="selectedCourseId" />
                }

            </div>
        </div>
    </div>
</section>

    </Authorized>
</AuthorizeView>

@code {
    private string? selectedCourseId;

    private void HandleCourseSelected(string courseId)
    {
        selectedCourseId = courseId;
    }
}
