<section id="manage">
    <div class="container">

        <div class="manage-left">
            <img src="images/manage.svg" alt="An example of our task master feature" />
        </div>
        <div class="manage-right">
            <h1>Manage Your Work</h1>
           
            <div id="list-item">
                <img src="images/icons/checkmark.svg" alt="Powerful project management" />
                <div>Powerful project management</div>
            </div>
            <div id="list-item">
                <img src="images/icons/checkmark.svg" alt="Transparent work management" />
                <div>Transparent work management</div>
            </div>
            <div id="list-item">
                <img src="images/icons/checkmark.svg" alt="Manage work & focus on the most important tasks" />
                <div>Manage work & focus on the most important tasks</div>
            </div>
            <div id="list-item">
                <img src="images/icons/checkmark.svg" alt="Track your progress with interactive charts" />
                <div>Track your progress with interactive charts</div>
            </div>
            <div id="list-item">
                <img src="images/icons/checkmark.svg" alt="Easiest way to track time spent on tasks" />
                <div>Easiest way to track time spent on tasks</div>
            </div>
                
            
            <a class="btn-theme-s" href="/">Learn more</a>
        </div>

    </div>

</section>

@code {

}
