<section id="testimonials">
    <div class="container">
        <div class="testimonials-left">
            <img src="images/screens.svg" alt="Phones showing our app in use" />
        </div>
        <div class="testimonials-right">
            <h1>Download Our App for Any Devices:</h1>
            
             <div class="testimonial-item">
                 <div class="testimonial-item-content">
                    <div>App Store</div>
                    <img class="rating-icon" src="images/icons/rating.svg" />
                    <h4>Editor's Choice</h4>
                    <div>rating 4.7, 187K+ reviews</div>
                 </div>
                 <a class="testimonial-link" href="/">
                    <img src="images/brands/appstore.svg" alt="App store button" />
                 </a>
             </div>

            <div class="testimonial-item">
                <div class="testimonial-item-content">
                    <div>Google Play</div>
                    <img class="rating-icon" src="images/icons/rating.svg" />
                    <h4>App of the Day</h4>
                    <div>rating 4.8, 30K+ reviews</div>
                </div>
                <a class="testimonial-link" href="/">
                    <img src="images/brands/googleplay.svg" alt="Google play button" />
                </a>

            </div>
                
           
        </div>
    </div>
</section>

@code {

}
