<header>
    <div class="container">
        <NavLink id="logo" href="/"><img src="/images/Silicon Logotype - Light Mode.svg" alt="Silicon" /></NavLink>
        <div id="menu" class="hide">
            <nav>
                <NavLink class="menu-link" href="/">Overview</NavLink>
                <NavLink class="menu-link" href="#features">Features</NavLink>

                <AuthorizeView>
                    <Authorized>
                        <NavLink class="menu-link" href="/courses">Courses</NavLink>
                        <NavLink class="menu-link" href="/account/details">Account</NavLink>
                    </Authorized>
                </AuthorizeView>

            </nav>
        </div>

        
        <div id="account-buttons" class="hide">

            <AuthorizeView>
                <NotAuthorized>
                    <NavLink class="btn-gray" href="/signin"><i class="fa-solid fa-right-to-bracket"></i><span>Sign In></span></NavLink>
                    <NavLink class="btn-theme" href="/signup"><i class="fa-regular fa-user"></i><span>Sign Up</span></NavLink>                    
                </NotAuthorized>
            </AuthorizeView>
        </div>
              
    </div>
</header>

@code {
    
}
