
@inherits LayoutComponentBase
@layout AccountLayout


<section class="container">
    <div id="account-details" >
        <aside>
            <AccountProfileAvatar />
            <ManageNavMenu />
        </aside>
        <div class="details">
            @Body
        </div>
    </div>
</section>


