
@inherits LayoutComponentBase
@layout AccountLayout


<section class="container">
    <div id="account-details" >
        <aside>
            @* <AccountProfileAvatar user="user"/> *@
            <ManageNavMenu />
        </aside>
        <div class="details">
            @Body
        </div>
    </div>
</section>

@code {
    // [CascadingParameter]
    // private ApplicationUser user { get; set; } = default!;

    // [CascadingParameter]
    // private HttpContext HttpContext { get; set; } = default!;

    // protected override async Task OnInitializedAsync()
    // {
    //     await LoadUserDataAsync();
    // }

    // private async Task LoadUserDataAsync()
    // {
    //     user = await UserManager.GetUserAsync(HttpContext.User) ?? null!;
    // }
}
